* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: rgb(67, 77, 77);
}

h1, #titulo {
    color:#ee0fbe;
    font-family: "Doto", sans-serif;
    font-size: 70px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-right: 15%;
    margin-top: 50px;
}

#header_content {
    margin: 10px;
}

#menu {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    font-size: 30px;
    text-decoration: none;
    margin-left: auto;
    
}

ul {
  list-style: none;
}

#fotoperfil {
    border-radius: 70%;
    width: 310px;
    height: 310px;
    display: flex;
    border: solid 3px;
    border-style: double;
    border-left-color: #ee0fbe;
    border-right-color: #e049c0;
    border-top-color: #ee0fbe;
    border-bottom-color: #d43ab5;
    padding: 5px;
}

#sobre-texto {
    padding: 2%;
    margin: 3%;
    font-family: "Text Me One", sans-serif;
    font-size: 20px;
    color: #f4d8cdff;
}

#about, #conteudo {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

#menu {
    display: flex;
    justify-content: end;
    gap: 15px;
    font-size: 30px;  
}

a {
    text-decoration: none;
    color: #f4d8cdff;
    font-family: "Text Me One", sans-serif;
    padding: 10px;
}

#menu ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-right: 5%
}

#sobremim {
    display: flex;
    align-items: center;
}

#video {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

iframe {
    border-radius: 15px;
    border: #f4d8cdff solid 3px;
}

h2 {
    color:#ee0fbe;
    font-family: "Amatic SC", sans-serif;
    font-size: 35px;
}

#redes_sociais {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#made {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: -16px;
    font-family: "Amatic SC", sans-serif;
    color:#ffffff;
    font-size: 23px;
}
#redes_sociais img {
  width: 50px;  
  height: 50px;
}

footer {
    border: #ffffff dotted 2.5px;
    margin-top: 40px;
    margin-bottom: 15px;
    border-radius: 3%;
    width: 60vh;
    height: 125px;
}

#contact {
    display: flex;
    flex-direction: row;
}

#formulario {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: end;
    align-items: center;
    margin-top: 60px;
}

input, textarea {
    width: 85%;
    height: 25px;
    border-radius: 5%;
    display: flex;
    gap: 20px;
    padding: 10px;
}

textarea {
    height: 90px;
}

label {
    font-family: "Text Me One", sans-serif;
    font-size: 20px;
    color: #f4d8cdff;
    display: flex;
    margin-top: 5px;
    margin-bottom: 8px;
    margin-left: 45px;
}

input::placeholder, textarea::placeholder {
    font-family: "Text Me One", sans-serif;
    font-size: 17px;
}

#mapa {
display: flex;
flex-direction: column;
gap: 15px
}

#endereco {
    font-family: "Text Me One", sans-serif;
    color: #f4d8cdff;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    color: #d43ab5;
    margin: 30px;
    width: 90px;
    height: 35px;
    font-family: "Text Me One", sans-serif;
    font-size: 20px;
    font-weight: bold;
}
/* 
$pale-dogwood: #f4d8cdff;
$black-bean: #3b0d11ff;
$amaranth: #db324dff;
$gunmetal: #2d3a3aff;
$grape: #642ca9ff; */